.empty-products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

.empty-products-title {
  display: flex;
  margin-bottom: 36px;
}

.empty-products-logo {
  margin-left: 10px;
}

.empty-products-title > p {
  margin: 0;
  font-size: 41px;
  letter-spacing: 1px;
  margin-right: 25px;
  font-weight: bold;
}

.empty-products-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.empty-products-info > p {
  margin: 0;
  margin-bottom: 12px;
  font-size: 17px;
  letter-spacing: 0.5px;
}
