.custom-button > a {
  position: relative;
  background: transparent;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  border-radius: 50px;
  color: #402661;
  font-size: 15px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.7px;
}

.custom-button > a:hover,
.custom-button > a:visited {
  color: #402661;
}

.custom-button > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  z-index: -1;
  background-color: #b0e3d9 !important;
  cursor: pointer;
  height: 39px;
}

.custom-button a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 0;
  border-radius: 50px;
  background-color: #17aba6;
  pointer-events: none;
  z-index: -2;
}
