.wishlist-empty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 150px;
  padding-left: 200px;
}

.logo {
  width: 20px;
  margin-left: 10px;
}

.wishlist-title {
  display: flex;
  margin-bottom: 36px;
}

.wishlist-title > p {
  margin: 0;
  font-size: 41px;
  letter-spacing: 1px;
  margin-right: 25px;
  font-weight: bold;
}

.wishlist-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.wishlist-info > p {
  margin: 0;
  margin-bottom: 12px;
  font-size: 17px;
  letter-spacing: 0.5px;
}
