.products-container {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.inner-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
