.forgot-password-container {
  width: max-content;
  margin: auto;
  padding: 80px 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.forgot-password-container > h3 {
  color: #402661;
  font-weight: 500;
  font-size: 17px;
  margin: 0;
  letter-spacing: 0.3px;
  text-align: center;
}

.forgot-password-title {
  margin: 32px 0 40px;
  text-align: center;
}

.forgot-password-title > p {
  letter-spacing: 0.5px;
  color: #252525;
  margin: 0;
  font-size: 25px;
}

.forgot-password-title > p:first-child {
  font-size: 20px;
  font-weight: bold;
}

.forgot-password-title > p:last-child {
  font-size: 14px;
  margin-top: 16px;
  letter-spacing: 0.3px;
}

#forgot-password-form {
  width: 363px;
}

.forgot-password-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 45px;
}

.forgot-password-username {
  width: 100%;
  margin-left: 0;
  margin-top: 48px;
}

.forgot-password-username :focus {
  outline: none;
}

#username-or-email {
  width: 100%;
  padding: 0 0 8px;
  border: 0;
  border-bottom: 1px solid #b5b5b5;
  background-color: transparent;
}
