.sort-by {
  align-self: flex-end;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.7px;
  margin-bottom: 40px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 0;
}

.sort-by .svg-inline--fa.fa-w-14 {
  width: 4em;
  font-size: 14px;
  margin-top: 2px;
}

.order-list {
  height: fit-content;
  background-color: #ffffff;
  box-shadow: 0 0 10px 6px rgba(141, 141, 141, 0.15);
  border-radius: 20px;
  width: max-content;
  z-index: 10;
  position: absolute;
  top: 50px;
  right: 0;
}

.order-list ul {
  list-style: none;
  padding: 30px;
  margin: 0;
}

.order-list > ul > li {
  margin-top: 15px;
}

.order-list li:first-child {
  margin: 0;
}

.order-list > ul > li:hover {
  color: #17aba6;
}
