@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
}

.navbar {
  display: grid;
  grid-template-columns: 1.5fr 6.5fr 2fr;
  height: 118px;
  align-items: center;
  justify-items: center;
  position: relative;
  margin: 0 110px;
}

.company-logo {
  justify-self: start;
}

.navigation-categories {
  align-items: center;
}

.navigation-categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  display: flex;
  align-items: center;
}

.navigation-categories ul li {
  margin: 0 36px;
  letter-spacing: 1px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.navigation-categories ul li span {
  cursor: pointer;
}

.pantry .svg-inline--fa.fa-w-14 {
  width: 2em;
  font-size: 13px;
  margin-top: 3px;
}

.pantry-open .svg-inline--fa.fa-w-14 {
  transform: rotate(180deg);
  transition: transform 300ms linear;
}

.pantry-dropdown {
  box-sizing: border-box;
  position: absolute;
  top: 118px;
  right: 0;
  width: 80%;
  background-color: #fafafa;
  letter-spacing: 1px;
  font-weight: 700;
  z-index: 10;
  transition: all 300ms;
  padding: 40px 110px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.pantry-dropdown::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: 0 0;
}

.pantry-option span {
  display: inline-flex;
  align-items: center;
  height: 40px;
}

.pantry-option span:hover {
  color: #17aba6;
}

.pantry-option span .pantry-option-icon {
  display: none;
  width: 30px;
  height: 30px;
}

.pantry-option span:hover .pantry-option-icon {
  display: inline-flex;
  margin-right: 5px;
}

.account-info {
  display: flex;
  align-items: center;
  justify-self: end;
}

.account-info > div {
  margin-left: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 118px;
  display: none;
  width: 100vw;
  height: calc(100vh - 118px);
  z-index: 3;
  background: rgba(68, 38, 99, 0.3);
}

.overlay-active {
  display: block;
}

.search-overlay {
  top: 0;
  height: 100vh;
}

.search-icon,
.login,
.favourites {
  font-size: 26px;
}

.favourites a:visited,
.login a:visited,
.cart > a:visited {
  color: #252525;
}

.cart > a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b0e3d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.cart {
  font-size: 18px;
}

.black {
  color: #252525;
}

.green {
  color: #17aba6;
  transition: 300ms;
}

.green:hover {
  color: #402661;
}

.purple {
  color: #402661;
}

.purple:hover,
.pantry:hover > span {
  color: #f77566;
  transition: 300ms;
}

.search-bar {
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  background-color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  height: 60px;
  text-align: center;
  z-index: 10;
  transform: translateX(-50%);
}

.search-bar::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: 0 0;
}

#search-form {
  width: 100%;
  height: 100%;
}

#search-input {
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
  background: transparent;
  text-align: center;
  letter-spacing: 1px;
  color: #252525;
  font: 700 16px "PT Sans", sans-serif;
}

input::placeholder {
  color: #252525;
}

input:focus::placeholder {
  color: transparent;
}

.submit {
  position: absolute;
  left: -9999px;
}

.search-wrapper,
.favourites,
.cart > a,
.login a {
  cursor: pointer;
}

.login a,
.search-wrapper,
.pantry {
  z-index: 20;
}

.nav-login-dropdown {
  box-sizing: border-box;
  position: absolute;
  top: 118px;
  right: -110px;
  width: 71%;
  background-color: #fafafa;
  z-index: 10;
  padding: 120px;
}

.nav-login-dropdown ::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: 0 0;
}

.nav-login-title {
  display: flex;
  flex-direction: column;
}

.nav-login-title p {
  margin: 0;
  padding: 0;
  font-size: 28px;
  letter-spacing: 0.5px;
}

.nav-login-title p:first-child {
  font-weight: bold;
}

.font-bold {
  font-weight: 600;
}

#nav-login-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 8px;
  grid-gap: 40px;
}

#nav-login-email,
#nav-login-password {
  width: 100%;
  padding: 0 0 8px;
  border: 0;
  border-bottom: 1px solid #b5b5b5;
  background-color: transparent;
}

.nav-login-create-account {
  text-align: left;
}

.nav-login-create-account > a {
  font-size: 15px;
  letter-spacing: 0.3px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: 600;
  color: #777;
}

.nav-login-create-account > a:visited {
  color: #777;
}
