ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-by {
  position: relative;
  width: 100%;
}

.filter-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17aba6;
  padding: 8px 40px;
  border-radius: 20px;
  width: 32%;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.filter-title > p {
  margin: 0;
  margin-left: 10px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.hide-filter {
  display: none;
}

.filter-body {
  background-color: #ffffff;
  box-shadow: 0 0 10px 6px rgba(141, 141, 141, 0.15);
  border-radius: 20px;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 55px;
  left: 0;
  padding: 8px 24px;
}

.filters-array {
  display: flex;
}

.chip {
  border: 1px solid #17aba6;
  border-radius: 20px;
  padding: 0px 10px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  color: #17aba6;
  font-size: 22px;
  padding-top: 5px;
  margin-left: 3px;
  cursor: pointer;
}

.clear-all {
  text-decoration: underline;
  margin: 16px 0;
}

.clear-all > span {
  cursor: pointer;
}
